@keyframes colorchange {
  0% {
    background: gray;
  }
  100% {
    background: rgb(255, 255, 230);
  }
}

.animate {
  animation: colorchange 2s;
}

#text {
  margin-top: 10px;
}

#author {
  margin-bottom: 10px;
}
